* {
   margin: 0;
   padding: 0;
}
::selection {
   background: #222;
   color: white;
}
a {
   color: #333;
}
p {
   margin: 20px 0;
}
.content {
   position: relative;
   margin: 100px auto 0;
   width: 560px;
}
@media (max-width: 767px) {
   .content {
      margin-top: 50px;
      width: auto;
   }
}
.content h1 {
   text-align: center;
   position: relative;
   /*top: -10px;*/
   opacity: 0;
   font-weight: bold;
   text-shadow: 0 1px 0 #fff,1px 2px 2px #aaa;
}
.profile-image {}
.quote {
   position: relative;
   margin: 40px 0;
   color: #666;
   text-align: center;
   line-height: 25px;
}
.quote p, .quote div {
   text-align: center;
}
.menu {
   margin-top: 40px;
   text-align: center;
   font-size: 15px;
}
.menu a {
   display: inline-block;
   position: relative;
   margin-left: 20px;
   text-decoration: none;
   border-bottom: 2px solid #ccc;
   text-shadow: 0 1px 0 #fff,1px 2px 2px #aaa;
}
.menu a:hover {
   border-bottom: 2px solid #333;
}
.menu a:active {
   top: 1px !important;
}
.menu a:first-child {
   margin-left: 0;
}
.footer {
   position: absolute;
   bottom: 10px;
   left: 50%;
}
.footer-text {
   display: inline-block;
   vertical-align: top;
   font-size: .9em;
   line-height: 40px;
   position: relative;
   left: -50%;
   opacity: 0;
}
.animate-init {
   position: relative;
   top: -10px;
   opacity: 0;
}
.quote-text-final {
    text-align: center;
    font-weight: bold;
}